<li class>
  <% if I18n.locale == :en %>
    <div style='background-image: url(<%= asset_path 'admin/english.gif' %>);width: 46px; height: 28px;margin-top: 6px;'></div> 
  <% else %>
    <div style='background-image: url(<%= asset_path 'admin/vietnamese.png' %>);width: 48px; height: 42px;'></div> 
  <% end %>
</li>
